@model News_Application.Models.News

@{
    ViewBag.Title = "Details";
}

<style>

    .dl-horizontal dt
    {
        text-align:left;
        margin-bottom:5px;
    }
</style>

<div>
    <br />
    @Html.Partial("_backToListButtonPartial")
    <h4>Details News</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._News)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._News)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Url)
        </dt>

        @*<dd>
                @Html.DisplayFor(model => model.Img_Url)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Publiction_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publiction_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creation_nDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation_nDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorID)
        </dd>

    </dl>
</div>
<p>
 

</p>
