@model News_Application.ViewModel.AuthorViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)

{

    <p>
        @Html.Partial("_CreateButtonPartian")
    </p>
}
<table class="table table-striped table-condensed">
    <tr class="success">
        <th>

            @Html.DisplayNameFor(model => model.newss._News)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.newss.Img_Url)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.newss.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.newss.Publiction_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.newss.Creation_nDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.news)
    {

        item.author = Model.authors.FirstOrDefault(m => m.Id == item.authorID);
        <tr>

            <td>
                <a href="~/News/ViewNews?news=@item.Id">@Html.DisplayFor(modelItem => item._News)</a>
            </td>

            <td>
                @{
                    string x = item.Id + ".jpg";
                }
                <img width="30px" height="30px" src="~/Uploads/@x" onclick="viewreport(@item.Id)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publiction_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creation_nDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author.Name)
            </td>
            <td>
                @if (Request.IsAuthenticated)

                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn-success" });
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn-success" });
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-success" });

                }
            </td>
        </tr>

    }





</table>
<script>
    var viewreport = function (news_id) {
        window.location.href = "../News/ViewNews?news=" + news_id;
    }
</script>